@media only screen and (max-width: 600px) {
  .programlistpage {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .programcompletionlistpage {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .classpage {
    display: none;
  }
}
